asgiref==3.8.1
certifi==2024.8.30
charset-normalizer==3.3.2
Django==5.1.1
django-debug-toolbar==4.4.6
django-rosetta==0.9.9
idna==3.8
polib==1.2.0
pymemcache==3.5.2
requests==2.32.3
six==1.16.0
sqlparse==0.5.1
urllib3==2.2.2
python-dotenv==1.0.0
psycopg==3.1.12
psycopg-binary==3.1.12
gunicorn==21.2.0